name: Docs

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  mkdocs:
    name: MkDocs
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install MkDocs and Dependencies
      run: pip install -r docs/requirements.txt

    - name: Build Docs
      run: python -m mkdocs build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: mkdocs-site
        path: site

  ldoc:
    name: LDoc
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v2

    - name: Install Lua
      uses: leafo/gh-actions-lua@v8
      with:
        luaVersion: "5.1"

    - name: Install LuaRocks
      uses: leafo/gh-actions-luarocks@v4

    - name: Install LDoc and Dependencies
      run: |
        luarocks install ldoc
        luarocks unpack ldoc

    - name: Build Docs
      run: lua $(ls ldoc*/ldoc/ldoc.lua | head -n1) --fatalwarnings .

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ldoc-site
        path: site/api

  deploy:
    name: Deploy
    if: github.event_name == 'push'
    needs:
    - mkdocs
    - ldoc
    runs-on: ubuntu-latest
    steps:
    - name: Download MkDocs Build
      uses: actions/download-artifact@v2
      with:
        name: mkdocs-site
        path: site

    - name: Download LDoc Build
      uses: actions/download-artifact@v2
      with:
        name: ldoc-site
        path: site/api

    - name: Deploy Docs
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: site
